* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: white;
}

/* Navbar */

.navbar {
  height: 70px;
  background: rgba(15, 23, 42, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0,0,0,.3);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ff4757;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: .3s;
}

.navbar a:hover {
  color: #ff4757;
}

/* Home */

.home {
  width: 90%;
  margin: 30px auto;
}

/* Search */

.home form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.searchInput {
  width: 450px;
  padding: 14px 18px;
  border: none;
  outline: none;
  border-radius: 50px 0 0 50px;
  font-size: 16px;
}

.home button {
  border: none;
  padding: 14px 25px;
  background: #ff4757;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  transition: .3s;
}

.home button:hover {
  background: #ff2e43;
}

/* Movie List */

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 30px;
}

/* Movie Card */

.movie-card {
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  transition: .35s;
  box-shadow: 0 8px 20px rgba(0,0,0,.3);
}

.movie-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 30px rgba(255,71,87,.4);
}

.movie-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.movie-card h3 {
  padding: 15px 15px 5px;
  font-size: 20px;
}

.movie-card p {
  color: #cbd5e1;
  padding: 0 15px;
  margin-bottom: 15px;
}

.movie-card a {
  display: block;
  margin: 15px;
  padding: 12px;
  background: #ff4757;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  transition: .3s;
}

.movie-card a:hover {
  background: #ff2e43;
}

/* Movie Detail */

.movie-detail {
  width: 900px;
  max-width: 95%;
  margin: 50px auto;
  display: flex;
  gap: 40px;
  background: #1e293b;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

.movie-detail img {
  width: 300px;
  border-radius: 15px;
}

.movie-detail h2 {
  margin-bottom: 20px;
  color: #ff4757;
}

.movie-detail p {
  margin: 12px 0;
  line-height: 1.7;
}

/* Responsive */

@media(max-width:768px){

  .movie-detail{
    flex-direction: column;
    text-align:center;
    align-items:center;
  }

  .searchInput{
    width:100%;
  }

  .home form{
    flex-direction:column;
    gap:10px;
  }

  .searchInput{
    border-radius:50px;
  }

  .home button{
    border-radius:50px;
  }

}